*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

section,
div,
span,
p,
img,
h1 {
  box-sizing: border-box;
}

/* 多行超出显示省略号 */
.t-o-e {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin textEllipsis($num: 2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}

@mixin flex(
  $justify-content: flex-start,
  $align-items: flex-start,
  $direction: row,
  $flex-wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
}

.pointer {
  cursor: pointer;
}
