:root {
  --font_color_333: #333;
  --font_color_666: #666;
  --font_color_999: #999;
  --font_color_000: #000;
  --font_color_81889d: #81889d;
  --font_color_fa3302: #fa3302;
  --font_color_fff: #fff;
  --font_color_afb3c1: #afb3c1;
  --font_color_262626: #262626;
  --base_color_2d77fe: #2d77fe;

  /* 背景 */
  --back_color_fff: #fff;
  --back_color_E7ECF5: #e7ecf5;
  --back_color_ebecf0: #ebecf0;
  --back_color_5e5e60: #010102;
  --back_color_c0c3ce: #c0c3ce;
  --back_color_efeee6: #efeee6;
  --back_color_d7ddfe: #d7ddfe;
  --back_color_1F8FDC: #1f8fdc;
  --back_color_2EABF8: #2eabf8;
  --back_color_235FF5: #235ff5;
  --back_color_F7F7F7: #f7f7f7;
  /* 边框 */
  --border_color_2674e7: #2674e7;
  --border_color_dcdfe8: #dcdfe8;
  --border_color_ebecf0: #ebecf0;
  --border_color_50B8F8: #50b8f8;
}

.flex {
  display: flex;
}
.f-jcc {
  justify-content: center;
}
.f-jcsb {
  justify-content: space-between;
}
.f-jcsr {
  justify-content: space-around;
}
.f-aic {
  align-items: center;
}
.f-dc {
  flex-direction: column;
}
.textc {
  text-align: center;
}

.btn-dashed {
  border: 2px dashed var(--border_color_50B8F8);
  width: 100%;
  height: 150px;
  border-radius: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: var(--border_color_2674e7);
}

.back-line {
  background: linear-gradient(135deg, var(--back_color_2EABF8) 0%, var(--back_color_235FF5) 100%);
}

.btn-solid {
  background: linear-gradient(135deg, var(--back_color_2EABF8) 0%, var(--back_color_235FF5) 100%);
  width: 100%;
  height: 150px;
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: var(--font_color_fff);
}
.color-fff {
  color: var(--font_color_fff);
}
.color-000 {
  color: var(--font_color_000);
}
.color-333 {
  color: var(--font_color_333);
}
.color-666 {
  color: var(--font_color_666);
}
.color-262626 {
  color: var(--font_color_262626);
}
.color-999 {
  color: var(--font_color_999);
}
.color-81889d {
  color: var(--font_color_81889d);
}
.color-fa3302 {
  color: var(--font_color_fa3302);
}
.color-afb3c1 {
  color: var(--font_color_afb3c1);
}
.color-2d77fe {
  color: var(--base_color_2d77fe);
}

.textc {
  text-align: center;
}

.wh100 {
  width: 100%;
  height: 100%;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
.m-lr-auto {
  margin: 0 auto;
}
.m-tm-auto {
  margin: auto 0;
}
